<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-user"></i> Partenaire <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a data-th-href="@{/transfert/partenaire}">Add / List</a></li>
                </ul>
            </li>
            <li><a data-th-href="@{/transfert/versement}"><i class="fa fa-user"></i> Versement</a>
            </li>
            <li><a data-th-href="@{/transfert/ordinateur}"><i class="fa fa-user"></i> Ordinateur</a>
            </li>
            <li><a data-th-href="@{/transfert/personnes}"><i class="fa fa-user"></i> Personne</a>
            </li>
        </ul>
    </div>
</div>
