<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}"
      lang="en"
>
<head>
    <title>Partenaire</title>
</head>
<body id="partner-body" onload="listPartner()">
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Partenaires</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <button class="btn btn-primary" data-target="#partenaireModal" data-toggle="modal"
                                id="new-partner"
                                type="button">Nouveau
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="feedback"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="partenaireModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Partenaire</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="add-partenaire-form">
                        <input class="form-control" id="id-partner" required="required" type="hidden">
                        <h3>Informations partenaire</h3>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="nom">Nom <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="nom" required="required" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">E-mail <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="email" name="last-name" required="required"
                                       type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="ninea">NINEA</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="ninea" name="middle-name" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="tel">Téléphone</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="tel" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="adresse">Adresse</label>
                            <div class="col-md-6 col-sm-6 ">
                                <textarea class="form-control" id="adresse" name="middle-name" rows="5"
                                          type="text"></textarea>
                            </div>
                        </div>

                        <!--<h3>Informations utilisateur</h3>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="prenom_nom">Prénom && nom</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="prenom_nom" name="middle-name" type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="mail_user">E-mail</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" id="mail_user" name="middle-name" type="text">
                            </div>
                        </div>-->

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-success" id="add-partner" type="submit">Valider</button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
