<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partenaire List</title>
</head>
<body>

<h1>Partenaire List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Mail</th>
            <th>Tel</th>
            <th>Ninea</th>

        </tr>
        <tr th:each ="partenaire : ${partenaire}">
            <td th:utext="${partenaire.nom}">...</td>
            <td th:utext="${person.lastName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>